@import './header';
@import './navegation';
@import './main';

html {
    scroll-behavior: smooth;
  }

body{
    background-color: #282828;
}


.hide{
    display: none;
}

.hideC{
    display: none;
}